@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --ff-primary: "Inter", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: #eeeeee;
  background-color: #222831;
  font-size: 1.6rem;
  font-family: var(--ff-primary);
  min-height: 100vh;
}

.section {
  min-height: 100vh;
}
